<div class="new-comp">
  <div id="new-header">
      <h1 id="header-title">SplitEase</h1>
      <p id="header-desc">Splitting for <u style="font-size: 25px">{{engine.groupName}}</u></p>
      <div class="header-main">
        <div class="instructions">
          <p style="margin-bottom: 2px;">1. Enter Person's Name. (Optional)</p>
          <p style="margin-bottom: 2px;">2. Enter Item's Name and Cost. <b>Tap the Add button to confirm.</b></p>
          <p style="margin-bottom: 2px;">3. Repeat for next person and tap Split! when you're done.</p>
        </div>
        <div class="currency">
          <p style="margin: 0 10px 0 0; display:inline;">currency: </p>
          <mat-form-field style="width:50px;">
            <mat-select [(value)]="currency">
              <mat-option value="&pound;">&pound;</mat-option>
              <mat-option value="&dollar;">&dollar;</mat-option>
              <mat-option value="&euro;">&euro;</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  <div id="splitting-div">
    <div class="card-container">
      <div *ngFor="let person of this.engine.group; let idx = index" class="person-card">
        <div class="card-header">
          <mat-form-field>
            <mat-label>person name</mat-label>
            <input [(ngModel)]="person.name" name="personName" matInput [placeholder]="getNamePlaceholder(person.id)">
          </mat-form-field>
          <p *ngIf="showItemsTable(person)" style="margin: 0"><strong>Total: </strong>{{this.currency}}{{this.engine.generatePersonTotalItemCost(person)}}</p>
        </div>

        <div class="added-items">
          <table style="width: 100%" *ngIf="showItemsTable(person)">
            <tr>
              <th>Item</th>
              <th>Cost</th>
              <th></th>
            </tr>
            <tr *ngFor="let entry of getPersonEntries(person)">
              <td style="text-align: center;">{{entry.billItem.name}}</td>
              <td style="text-align: center;">{{entry.billItem.cost}}</td>
              <td style="width: 1px"><button mat-raised-button (click)="deleteEntry(entry)">Del</button></td>
            </tr>
          </table>
        </div>
        <hr *ngIf="showItemsTable(person)" style="border: 1px black solid">
        <form class="adding-item">
          <mat-form-field style="width: 100px">
            <mat-label>item name</mat-label>
            <input [(ngModel)]="items[person.id].name"
                   name="itemName" matInput
                   placeholder="Food" #itemNameInput>
          </mat-form-field>
          <mat-form-field style="width: 75px">
            <mat-label>item cost</mat-label>
            <input [(ngModel)]="items[person.id].cost" name="itemCost" type="number" matInput placeholder="0.01">
          </mat-form-field>
          <button mat-raised-button (click)="addItemToBill(person.id, idx)">Add</button>
        </form>
      </div>
    </div>
    <div class="split-button-div">
      <button class="split-button" mat-raised-button color="primary" (click)="this.doSplit();this.scrollToResult()">Split!</button>
    </div>
  </div>
  <div id="result-div">
    <div class="card-container" *ngIf="this.shouldShowResultTable">
      <div class="result-card">
        <h1><b>Result</b></h1>
        <p>Here's the result! You should see the person <b>(Payer)</b> who owes money <b>(Amount)</b> to whom <b>(Receiver)</b>.</p>
        <table style="width: 100%">
          <tr>
            <th>Payer</th>
            <th>Receiver</th>
            <th>Amount ({{this.currency}})</th>
          </tr>
          <tr *ngFor="let solution of this.engine.solution">
            <td style="text-align:center;">{{solution.personToPay.name}}</td>
            <td style="text-align:center;">{{solution.personToReceive.name}}</td>
            <td style="text-align:center;">{{solution.amount}}</td>
          </tr>
        </table>
      </div>
      <div style="width: 60%; min-width: 300px;">
        <p style="text-align: center; font-size: 12px;">Forgotten to add an item? Simply edit the bill above and tap <b>Split!</b> again.</p>
      </div>
      <div class="button-div">
        <button mat-raised-button color="primary"  (click)="confirmRestartSplit()">Restart</button>
        <button mat-raised-button color="primary" (click)="confirmNavigationToHome()">Done</button>
      </div>
    </div>
  </div>
</div>

